.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  gap: 8px;
}

.contact {
  width: 250px;
  flex-shrink: 0;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}
